/* ================================================================================================================================== */
/* ================================================================================================================================== */

/* ================================================================================================================================== */
/* ================================================================================================================================== */
/* ======================================================= MEDIAS QUERIES =========================================================== */
/* ================================================================================================================================== */
/* ================================================================================================================================== */

@media screen and (min-width: 768px) {
  footer {
    position: relative;
    bottom: -325px;
  }
  .section1_menufr {
    top: 490px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    position: relative;
    bottom: -535px;
  }
  .section1_menufr {
    top: 700px;
  }
}

/* ================================================================================================================================== */
/* ================================================================================================================================== */
