body {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
.p_footer2 {
  font-family: "Roboto", sans-serif;
}
/* ========================== */
/* ========================== */
/* ========== NAV =========== */
/* ========================== */
/* ========================== */

.div_logo_nav_menufr {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: white;
}

.div_icone_nav_menufr {
  width: 10%;
  text-align: center;
}

.logo_nav_menufr {
  width: 50%;
  margin-left: 15%;
}

.fleche_header {
  color: black;
}

/* ========================== */
/* ===== NAV ENCHANTEE ====== */
/* ========================== */

.header_enchantee {
  z-index: 1;
  position: sticky;
}

.div_logo_nav_menuenchantee {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

/* ========================== */
/* ========================== */
/* ========= PHOTO ========== */
/* ========================== */
/* ========================== */

.img_img {
  width: 100%;
  position: absolute;
}

/* ==== PHOTO ENCHANTEE ===== */

.img_img_enchantee {
  width: 100%;
  position: absolute;
  top: -24px;
}

/* ========================== */
/* ========================== */
/* ======= SECTION 1 ======== */
/* ========================== */
/* ========================== */

.section1_menufr {
  position: relative;
  background-color: #f5f3f3;
  top: 165px;
  border-radius: 35px 35px 0 0;
  padding-bottom: 75px;
}

.div_titre_menufr {
  display: flex;
  padding-top: 8px;
  align-items: center;
  font-size: 1.2em;
}

.div_block_menufr {
  width: 90%;
  margin: auto;
}

.h2_section1_menufr {
  margin-left: 16px;
  width: 80%;
}

.h3_section1_menufr {
  width: 50px;
  padding-bottom: 5px;
  border-bottom: 3px solid #54d7b3a6;
}

.div_plat_section1_menufr {
  box-shadow: 00 0 11px #d7d7d7;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  display: flex;
  align-items: end;
  margin-bottom: 16px;
  justify-content: space-between;
  height: 60px;
  overflow: hidden;
  animation: animplat 3s linear both;
}

.h4_plat_section1_menufr,
.p_plat_section1_menufr,
.span_plat_section1_menufr {
  margin: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.div_block3_menufr,
.div_block2_menufr {
  padding-top: 8px;
}

.div_plat_entree {
  overflow: hidden;
}

/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/*   ANIMATION POPUP PLAT  */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */

@keyframes animplat {
  0% {
    height: 0px;
  }
}

/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ANIMATION PLAT VALIDATE */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */

.div_prix_anim {
  display: flex;
  height: 100%;
  margin-right: -60px;
}

.div_prix {
  margin: auto;
  margin-bottom: 5px;
}

.div_anim {
  padding: 22px;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
}

.valid_icon {
  color: white;
  transform: rotate(180deg);
}

.div_plat_section1_menufr:hover .div_prix_anim {
  animation-duration: 1.5s;
  animation-name: glissement;
  animation-iteration-count: infinite;
}

.div_plat_section1_menufr:hover .valid_icon {
  animation-duration: 1.5s;
  animation-name: rotation;
  animation-iteration-count: infinite;
}

@keyframes glissement {
  from {
    margin-right: -60px;
  }

  to {
    margin-right: 0%;
  }
}
@keyframes rotation {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0deg);
  }
}

/* ---------------- */
/* bouton commander */
/* ---------------- */

.div_btn_menu {
  width: 175px;
  text-align: center;
  border-radius: 50px;
  margin: auto;
  background: linear-gradient(#ff79da, #9356dc);
  margin-top: 50px;
}

.btn_menu {
  padding: 15px;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  border: 0;
  font-size: 1em;
}

/* FOOTER MENUFR */
footer {
  margin-top: 165px;
}
